@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

* {
  font-family: signika, sans-serif;
  background-color: black;
}

.homepageContainer,
.libraryContainer {
  border: 2px solid black;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Apply a background color to the entire content area */
.homepageContainer {
  background-color: rgb(10, 10, 10);
}

/* Add border and padding to each container */
.spotifyContainer,
.homeContainer,
.searchContent,
.libraryContainer {
  display: flex;
  align-items: center;
  margin-left: 5px;
  background-color: rgb(10, 10, 10);
  gap: 10px;
}


.spotifyContainer img,
.homeContainer img,
.searchContainer img,
.libraryContainer,
.spotifyContainer p,
.homeContainer p,
.searchContainer p {
  color: white;

}

.searchContent {
  background-color: rgb(10, 10, 10)
}

.libraryContainer {
  display: flex;
  align-items: center;
  border: 2px solid black;
  background-color: rgb(10, 10, 10);
}

.plusImage {
  margin-left: auto;
  background-color: rgb(10, 10, 10);
}

.libraryContainer p {
  background-color: rgb(10, 10, 10);
  color: white;
}


